# Lab - 3 - Data Exploration

### 1)  First, you need to read the titanic dataset from local disk and display first five records

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("titanic.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 2)  Identify Nominal, Ordinal, Binary and Numeric attributes from data sets and display all values.

### 3)  Identify symmetric and asymmetric binary attributes from data sets and display all values.

### 4)  For each quantitative attribute, calculate its average, standard deviation, minimum, mode, range and maximum values.

### 6)  For the qualitative attribute (class), count the frequency for each of its distinct values.

###  7) It is also possible to display the summary for all the attributes simultaneously in a table using the describe() function. If an attribute is quantitative, it will display its mean, standard deviation and various quantiles (including minimum, median, and maximum) values. If an attribute is qualitative, it will display its number of unique values and the top (most frequent) values.

### 8)  For multivariate statistics, you can compute the covariance and correlation between pairs of attributes.

### 9) Display the histogram for Age attribute by discretizing it into 8 separate bins and counting the frequency for each bin.

### 10) A boxplot can also be used to show the distribution of values for each attribute.

### 11)  Display scatter plot for any 5 pair of attributes , we can use a scatter plot to visualize their joint distribution.